body{
    width: 100%;
    /*height: 100vh;*/
    background-image: url("./img/main-bg.jpeg");
    font-family: sans-serif;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color: white;
}

/*Top Section*/

.top_section{
    width: 100%;
    height: 100px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}

.circle{
    border: 2px solid white;
    border-radius: 50%;
    padding: 18px;
}

nav {
    width: 100%;
    display: none;
    padding-top: 20px;
}

img{
    height: 20px;
    width: 20px;
    color: white;
    margin: 10px;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav a:link{
    text-decoration: none;
    font-size: 40px;
}

.social{
    display: flex;
    align-items: center;
}

@media(min-width: 760px) {
    nav{
        display: flex;
    }

    .circle{
        display: none;
    }

    .social{
        display: none;
    }
}

/*Main Section*/

.bottom_section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.main_section{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    /*height: 800px;*/
    /*height: 100vh;*/
}

.title{
    color: white;
    text-align: center;
    font-weight: bold;
}

.title h1{
    font-size: 100px;
}

.title h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.button_dwn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.button_dwn img{
    height: 30px;
    width: 30px;
}

.nav_down{
    display: flex;
    justify-content: center;
    /*padding-bottom: 60px;*/
}


